

Reset default browser spacing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full page center alignment */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

/* Button styling */
button {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

h1 {
  color: chartreuse;
}
